.App {
  text-align: center;
  position: relative;
  top:20px;
}

.card-container{
  display:flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  position: relative;
  top:20px;
}
#cart{
  position:relative;
  right:50px;
  border:1px solid black;
}
